main {
    margin-top: 50px;
}

form {
    margin: 15px;
}

legend {
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
}

#form {
    flex-direction: column;
    justify-content: center;
}

.form-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}

label, input, button[type="submit"] {
    font-size: 18px;
}

button[type="submit"] {
    width: 100%;
    margin-top: 12px;
}