main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 1;
    margin: 5px;
    border: 5px solid black;
}

h1, h2 {
    text-align: center;
}

form {
    margin: 15px;
}

.form-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}

label, input, button {
    font-size: 18px;
}

button {
    width: 100%;
    background-color: black;
    color: white;
}